.title {
    text-align: center;
}

.llama-form {
    width: 50%;
    margin: 0 auto;
}

.loading {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
}

body {
    background-image: url("llama.jpg");
    background-position-x: 35%;
    background-position-y: 10%;
}

main {
    background-color: whitesmoke;
    width: 25%;
    margin: auto;
}

.lists {
    margin: auto;
}